@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    hsl(var(--primary)),
    rgba(0, 0, 0, 0.8) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@layer base {
  :root {
    --background: 210 100% 98%;
    --foreground: 0 0% 10%;
    --muted: 210 34% 79%;
    --muted-foreground: 217 16% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --card: 213 100% 99%;
    --card-foreground: 0 0% 10%;
    --border: 213 23% 92%;
    --input: 213 23% 92%;
    --primary: 145 73% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 134 79% 83%;
    --secondary-foreground: 147 54% 13%;
    --accent: 144 100% 95%;
    --accent-foreground: 147 54% 8%;
    --destructive: 348 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 145 73% 47%;
    --radius: 0.5rem;
    --sidebar-background: 210 100% 98%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 145 73% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 144 100% 95%;
    --sidebar-accent-foreground: 147 54% 13%;
    --sidebar-border: 213 23% 92%;
    --sidebar-ring: 145 73% 47%;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 210 100% 98%;
    --muted: 215 16% 42%;
    --muted-foreground: 210 34% 79%;
    --popover: 0 0% 0%;
    --popover-foreground: 210 100% 98%;
    --card: 217 24% 6%;
    --card-foreground: 213 100% 99%;
    --border: 240 3% 11%;
    --input: 240 3% 11%;
    --primary: 145 73% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 147 51% 20%;
    --secondary-foreground: 231 77% 83%;
    --accent: 147 51% 13%;
    --accent-foreground: 231 77% 83%;
    --destructive: 348 100% 50%;
    --destructive-foreground: 348 100% 90%;
    --ring: 145 73% 47%;
    --sidebar-background: 217 24% 6%;
    --sidebar-foreground: 210 100% 98%;
    --sidebar-primary: 145 73% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 147 51% 13%;
    --sidebar-accent-foreground: 231 77% 83%;
    --sidebar-border: 240 3% 11%;
    --sidebar-ring: 145 73% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
